
body, html {margin:0;
           padding:0;
}

main .parallax {font-family: 'San Francisco', Helvetica, Arial, san-serif;
      font-size: 2.5rem;
      letter-spacing: 0.05em;
}
  
#sectionS {
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
    font-size: 1.8em;
    letter-spacing: 0.0em;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2.12px;
}
/*---------------------------------------------------------------*/



.section {

  position: relative;
  height: 100vh;
  /*TEXT STYLE*/
  box-shadow: 10000px 1000000px rgba(41,12,6, 0.15) inset;
}

#sectionS {

  position: relative;
    
    
    
    /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
  min-height: 80vh;
  padding-bottom: 100px;
    /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    
    
    
  /*TEXT STYLE*/
  text-align: justify;
  color: gainsboro; 
}

#p1 {
    margin-top: -0px;
}


p {
    margin-left: 100px;
    margin-right: 100px;
}




/*------------------------------*/

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  
  background-size: 100%;
  z-index: -1;
}


.static {
  background-color: #180502;
      ;
}


.bg1::after {
  background-image: url(https://c1.staticflickr.com/1/822/26323983417_a812af5a6f_k.jpg);
  background-repeat: no-repeat;
  background-position: left;
    
    
  background-size: cover; 
}







